/*text*/
html *
{
    text-align: center;
    color: #1c1c1c;
    font-family: Palatino !important;
}
h1 {
    font-size: 36pt;
}
h2 {
    font-size: 20pt;
}
h3 {
    font-size: 16pt;
}
p {
    font-size: 14pt;
}
.centered_text {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*link*/
 a {
    text-decoration: none;
}

/*divider line*/
hr {
    border: 0;
    height: 1px;
    background-color:#1c1c1c;
    width: 66%;
    margin-top: 20px;
    margin-bottom: 20px;

}

/*image*/
img {
    width: max(250px,20%);
    border-radius: 5px;
}

/*navbar stuff*/
.nav {
    overflow: hidden; 
    text-align: center;
    width: 100%;
}
/* Style for the top home link */
.top-links {
    display: block;
    margin: 0 auto 20px auto; /* Add some space between top and bottom links */
}
/* Container for the bottom three links */
.bottom-links {
    display: flex;
    justify-content: center; /* Center the links horizontally */
    flex-wrap: wrap; /* Allow wrapping on small screens */
    gap: 10px; /* Space between the links */
}